<p>Please click on the link in the confirmation email address that is being sent to complete registration to the following events hosted by <%= @host.title %>: </p>
<ul>
<% @events.each do |event| %>
	<li><%= event.date %></li>
<%end%>
</ul>